**Importamos las librerías necesarias**:

Este espacio se irá modificando a medida que importemos más librerías.

In [1]:
import pandas as pd
import numpy as np

**Cargamos nuestras bases de datos:**

In [2]:
cg = pd.read_csv("https://raw.githubusercontent.com/CSSEGISandData/COVID-19/master/csse_covid_19_data/csse_covid_19_time_series/time_series_covid19_confirmed_global.csv")
dg = pd.read_csv("https://raw.githubusercontent.com/CSSEGISandData/COVID-19/master/csse_covid_19_data/csse_covid_19_time_series/time_series_covid19_deaths_global.csv")
rg = pd.read_csv("https://raw.githubusercontent.com/CSSEGISandData/COVID-19/master/csse_covid_19_data/csse_covid_19_time_series/time_series_covid19_recovered_global.csv")

**Las bases de datos cargadas contienen información histórica de los casos confirmados, muertes y recuperados diarios relacionados al coronavirus. Es importante realizar una primera observación a la estructura de las bases:**

In [3]:
cg.head(5)

,Province/State,Country/Region,Lat,Long,1/22/20,1/23/20,1/24/20,1/25/20,1/26/20,1/27/20,...,2/28/23,3/1/23,3/2/23,3/3/23,3/4/23,3/5/23,3/6/23,3/7/23,3/8/23,3/9/23
0,NaN,Afghanistan,33.93911,67.709953,0,0,0,0,0,0,...,209322,209340,209358,209362,209369,209390,209406,209436,209451,209451
1,NaN,Albania,41.15330,20.168300,0,0,0,0,0,0,...,334391,334408,334408,334427,334427,334427,334427,334427,334443,334457
2,NaN,Algeria,28.03390,1.659600,0,0,0,0,0,0,...,271441,271448,271463,271469,271469,271477,271477,271490,271494,271496
3,NaN,Andorra,42.50630,1.521800,0,0,0,0,0,0,...,47866,47875,47875,47875,47875,47875,47875,47875,47890,47890
4,NaN,Angola,-11.20270,17.873900,0,0,0,0,0,0,...,105255,105277,105277,105277,105277,105277,105277,105277,105288,105288

In [5]:
dg.head(5)

,Province/State,Country/Region,Lat,Long,1/22/20,1/23/20,1/24/20,1/25/20,1/26/20,1/27/20,...,2/28/23,3/1/23,3/2/23,3/3/23,3/4/23,3/5/23,3/6/23,3/7/23,3/8/23,3/9/23
0,NaN,Afghanistan,33.93911,67.709953,0,0,0,0,0,0,...,7896,7896,7896,7896,7896,7896,7896,7896,7896,7896
1,NaN,Albania,41.15330,20.168300,0,0,0,0,0,0,...,3598,3598,3598,3598,3598,3598,3598,3598,3598,3598
2,NaN,Algeria,28.03390,1.659600,0,0,0,0,0,0,...,6881,6881,6881,6881,6881,6881,6881,6881,6881,6881
3,NaN,Andorra,42.50630,1.521800,0,0,0,0,0,0,...,165,165,165,165,165,165,165,165,165,165
4,NaN,Angola,-11.20270,17.873900,0,0,0,0,0,0,...,1933,1933,1933,1933,1933,1933,1933,1933,1933,1933

In [6]:
rg.head(5)

,Province/State,Country/Region,Lat,Long,1/22/20,1/23/20,1/24/20,1/25/20,1/26/20,1/27/20,...,2/28/23,3/1/23,3/2/23,3/3/23,3/4/23,3/5/23,3/6/23,3/7/23,3/8/23,3/9/23
0,NaN,Afghanistan,33.93911,67.709953,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,NaN,Albania,41.15330,20.168300,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,NaN,Algeria,28.03390,1.659600,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,NaN,Andorra,42.50630,1.521800,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,NaN,Angola,-11.20270,17.873900,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [11]:
print(cg.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 289 entries, 0 to 288
Columns: 1147 entries, Province/State to 3/9/23
dtypes: float64(2), int64(1143), object(2)
memory usage: 2.5+ MB
None

**Obsevamos que cada una de las bases de datos contienen las siguientes columnas:**

- Province/State (string): Nombre de la provincia o estado de cada país. 
- Country/Region (string): Nombre del país o región. 
- Lat (float): Representa la latitud de la provincia o estado de cada país. En caso de que no exista una identificación de la provincia o estado, entonces toma el valor para el país o región.
- Long (float): Representa la longitud de la provincia o estado de cada país. En caso de que no exista una identificación de la provincia o estado, entonces toma el valor para el país o región.
- Las columnas en adelante son fechas (tipo object) y se extienden desde el 1/22/20 hasta el 3/09/23.

**¿Qué contiene cada base de datos?:**

- En las filas se observa el valor acumulado diario de casos confirmados, muertes o recuperados según corresponda.

**¿Cuánta data perdida tenemos?**

In [13]:
cg.isnull().sum()

Province/State    198
Country/Region      0
Lat                 2
Long                2
1/22/20             0
                 ...
3/5/23              0
3/6/23              0
3/7/23              0
3/8/23              0
3/9/23              0
Length: 1147, dtype: int64

In [14]:
dg.isnull().sum()

Province/State    198
Country/Region      0
Lat                 2
Long                2
1/22/20             0
                 ...
3/5/23              0
3/6/23              0
3/7/23              0
3/8/23              0
3/9/23              0
Length: 1147, dtype: int64

In [15]:
rg.isnull().sum()

Province/State    199
Country/Region      0
Lat                 1
Long                1
1/22/20             0
                 ...
3/5/23              0
3/6/23              0
3/7/23              0
3/8/23              0
3/9/23              0
Length: 1147, dtype: int64

Lamentablemente este método no es eficiente para observar valores perdidos debido a la estructura misma de las bases de datos. Sin embargo es suficiente para darnos cuenta que la variable provincia tiene muchos valores perdidos. La mayoría de los casos considera el registro a nivel nacional, por lo cual es conveniente omitir dicha variable.

Adicionalmente, dado que la base contiene valores mixtos de latitud y longitud (algunas hacen referencias a provincias, pero otras a países) es más conveniente omitir dichos datos por el momento.

**Siguientes pasos: ¿Qué necesitamos hacer?**

1. Necesitamos despivotar esta base en función de la fecha, a nivel diario.

2. Necesitamos agrupar por país el número de casos confirmados, defunciones y recuperados.

3. Las bases contienen la información de **casos acumulados**. Por lo que necesitamos realizar un trabajo adicional para obtener el valor de casos diarios.

**A medida que vayamos reestructurando nuestras bases seremos capaces de observar anomalías que ahora mismo no podemos ver.**